<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="star.liuwen.com.le_shi">

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--ShareSDK需要权限end-->

    <application
        android:name=".Base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/welcomeTheme">
        <activity
            android:name=".Activity.AdActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".Activity.WebActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".Activity.OpenVipActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".Activity.ChoiceActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!---mob云短信验证-->
        <meta-data
            android:name="Mob-AppKey"
            android:value="23f42174a78b8"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="0982620cfe9e3fd99b6ae8736732c64f"/>

        <activity
            android:name=".Activity.RegisterActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.AreaSelectionActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ShareActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.HelpActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.AboutActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.UserInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ToTakePhotoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ModifyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.WatchHistoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
    </application>
</manifest>